<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/button.css">
    <link rel="stylesheet" href="../static/css/confirmation.css">
	<script src="../static/js/suggestions.js"></script>
	<script src="../static/js/confirmation-progress.js"></script>
	<script src="../static/js/user_detail.js"></script>
	<script src="../static/js/recommandation.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Singlefind Inscription</title>
</head>
<body class="Ov(h)" style="background-color: grey;" onload="handleCheck()">
    <div class="form-container text-center align-items-center pt-2 mt-2">
        <div class="title Fs(36) Fw(b) mb-1">Confirmez votre inscription</div>
        <form autocomplete="off" action="/confirmation" method="post" class="form-signin w-75 m-auto p-2 text-success">
            <div class="wrapper justify-content-around d-flex M(0auto)">
                <div class="question-container flex-column d-flex border p-4" style="min-width: 400px;max-width: 400px;">
                    <span class="question Fs(26) mb-5" style="color: #ed147d;">Que recherchez-vous ?</span>
                    <button id="btn" class="btn btn-success btn-block answer" onclick='handleClick("orientation", "Homme")' type="button" style="border-radius: 2rem;">Je cherche un homme</button>
                    <button id="btn" class="btn btn-success btn-block answer" onclick='handleClick("orientation", "Femme")' type="button" style="border-radius: 2rem;">Je cherche une femme</button>
                </div>
                <div id="question-container" class="flex-column d-flex border p-4" style="max-width: 500px; min-width: 500px">
                    <span class="question Fs(26) mb-5" style="color: #ed147d;">Dans quelle ville habitez-vous ?</span>
                    <input name="localisation" id="input-city" onkeyup="recommend(event)" class="location border" type="text" placeholder="Indiquez votre ville la plus proche" onchange="updateProgress(event)">
					<div class="autocom-box text-left text-dark p-2 border d-none" style="overflow-y: auto; opacity: 0;"></div>
                </div>
                <div class="question-container flex-column d-flex border p-4" style="max-width: 400px; min-width: 400px">
                    <span class="question Fs(26) mb-2" style="color: #ed147d;">Êtes-vous un homme ou une femme ?</span>
                    <button id="btn" class="btn btn-success btn-block answer" onclick='handleClick("sexe", "Homme")' type="button" style="border-radius: 2rem;">Je suis un homme</button>
                    <button id="btn" class="btn btn-success btn-block answer" onclick='handleClick("sexe", "Femme")' type="button" style="border-radius: 2rem;">Je suis une femme</button>
                </div>
                </div>
            </div>
		    <div class="form-container text-center align-items-center">
		    	<div class="title Fs(36) Fw(b)">Vos centres d'intérêts</div>
		        <legend>Choississez vos préférences:</legend>
		        <div class="wrapper justify-content-around d-flex M(0auto)">
		    		<div class="d-flex float-left">
		        		<div class="custom-control custom-checkbox iconSelect mr-2">
		            		<input onclick="handleCheck()" type="checkbox" id="customCheck3" name="hobbie" value="Jeux vidéo" class="custom-control-input">
		            		<label class="C(p) custom-control-label" for="customCheck3">
		            		<img src="../static/images/videogames.jpg" width=160 height=106>
		            		<div class="mt-1">Jeux vidéo</div>
		            		</label>
		        		</div>
						<div class="custom-control custom-checkbox iconSelect ml-2">
							<input onclick="handleCheck()" type="checkbox" id="customCheck4" name="hobbie" value="Cuisine" class="custom-control-input">
							<label class="C(p) custom-control-label" for="customCheck4">
							<img src="../static/images/cuisine.jpg" width=160 height=106>
							<div class="mt-1">Cuisine</div>
					   	 	</label>
						</div>
						<div class="custom-control custom-checkbox iconSelect ml-2">
							<input onclick="handleCheck()" type="checkbox" id="customCheck5" name="hobbie" value="Cinéma" class="custom-control-input">
							<label class="C(p) custom-control-label" for="customCheck5">
							<img src="../static/images/cinema.jpg" width=160 height=106>
							<div class="mt-1">Cinéma</div>
							</label>
				   	 	</div>
						<div class="custom-control custom-checkbox iconSelect ml-2">
							<input onclick="handleCheck()" type="checkbox" id="customCheck6" name="hobbie" value="Lecture" class="custom-control-input">
							<label class="C(p) custom-control-label" for="customCheck6">
							<img src="../static/images/lecture.jpg" width=160 height=106>
							<div class="mt-1">Lecture</div>
							</label>
						</div>
						<div class="custom-control custom-checkbox iconSelect ml-2">
							<input onclick="handleCheck()" type="checkbox" id="customCheck7" name="hobbie" value="Musique" class="custom-control-input">
							<label class="C(p) custom-control-label" for="customCheck7">
							<img src="../static/images/musique.jpeg" width=160 height=106>
							<div class="mt-1">Musique</div>
							</label>
						</div>
					</div>
		    	</div>
		    </div>
		    <div class="container">
        		<button type="submit" id="validation" class="mt-4 btn btn-primary btn-lg btn-block">Validation</button>
        	</div>
			<input type="hidden" id="sexe" name="sexe">
			<input type="hidden" id="orientation" name="orientation">
			<input type="hidden" name="hobbies" id="hobbies">
        </form>
	</div>
	<div class="progress position-absolute" style="bottom: 0; left: 0; right: 0;">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</body>
</html>
