<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Singlefind | Site de Rencontre</title>
</head>
<body class="Ovx(h)">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-white bg-dark" style="height: 4rem;">
            <a class='navbar-brand text-white bold' href="#">
                <span class="Fw(600) Fs(26)">Singlefind</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto"></ul>
                <form action="/signup">
                    <button id="btn-registration" class="m-2 btn btn-success btn-slide" style="border-radius: 60px;">S'inscrire</button>
                </form>
                <form action="/login">
                    <button class="ml-auto m-2 btn btn-secondary" style="border-radius: 60px;">Se connecter</button>
                </form>
            </div>
        </nav>
    </header>
    <section class="hero-section Z(2)" id="#">
        <div class="container Z(2) position-relative h-100 pb-5 d-flex justify-content-center align-items-center">
            <div class="row h-100">
                <div class="col-12 my-auto text-center">
                    <img class="m-5" src="../static/images/logo.jpg" width="150" width="150">
                    <h1 class="text-white mb-5 Fw(b)">Trouvez votre Singlefind</h1>
                    <form action="/signup">
                        <button class="btn btn-primary btn-lg">Commencer maintenant</button>
                    </form>
                </div>
                <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center"></div>
            </div>
        </div>
        <div class="img-wrap" style="z-index: -1000;">
            <img class="bg-img" src="../static/images/Background.jpg" alt="">
        </div>
    </section>
    <section class="promotion">
        <div class="title-container text-center py-3 M(0auto) pt-4 pb-2" style="max-width: 1100px;">
            <h1>Singlefind : Trouvez l’amour sur notre site de rencontre</h1>
        </div>
        <div class="content p-5">
            <div class="promotion-container" style="max-width: 1100px;">
                <div class="text-center" style="max-width: 300px;">
                    <img class="promotion-image mb-3" src="../static/images/heart.jpg" width="150" height="150">
                    <h4 class="promotion-text">1 million de conversations commencent chaque mois grâce à Singlefind</h4>
                </div>
                <div class="text-center" style="max-width: 300px;">
                    <img class="promotion-image mb-3" src="../static/images/couple.png" width="150" height="150">
                    <h4 class="promotion-text">Plus de 8 millions d'histoires ont commencé avec Singlefind</h4>
                </div>
                <div class="text-center" style="max-width: 300px;">
                    <img class="promotion-image mb-3" src="../static/images/chart-pie.png" width="150" height="150">
                    <h4 class="promotion-text">Près d’1 Français sur 4 a déjà essayé Singlefind</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="avis">
        <div class="m-2 carousel slide" id="carouselExampleControls" data-ride="carousel" data-interval="7000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container M(0auto) justify-content-center align-items-center d-flex">
                        <div class="card text-dark bg-transparent">
                            <div class="card-header Fw(b)">Ryan & Miranda</div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: yellow;">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </h5>
                                <p class="card-text">Je sortais tout juste d’une sale rupture, alors j’ai créé un compte sur Singlefind pour me changer les idées. Après environ une semaine à discuter, on a décidé de se rencontrer dans un bar du coin pour boire un verre… On s’est mariés en petit comité dans le New Jersey le 27 juin 2020.</p>
                            </div>
                        </div>
                        <div class="card text-dark bg-transparent">
                            <div class="card-header Fw(b)">Robert Stephenson</div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: yellow;">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </h5>
                                <p class="card-text">Je ne m’attendais pas vraiment à ce que ça donne quoi que ce soit, mais un jour, je suis tombée sur ce canon dans l’appli. Je lui ai envoyé un Super Like, j’ai même payé un dollar en plus pour ce Super Like !</p>
                            </div>
                        </div>
                        <div class="card text-dark bg-transparent">
                            <div class="card-header Fw(b)">Elliot & Kenneth</div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: yellow;">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </h5>
                                <p class="card-text">J’ai vraiment eu beaucoup de dates Singlefind et j’étais sûr que ça serait juste un flirt de plus, l’occasion de manger gratos et de m’amuser un peu… 3 ans et de nooombreux rendez-vous plus tard, je suis marié à mon mec de Singlefind, Kenny !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container M(0auto) justify-content-center align-items-center d-flex">
                        <div class="card text-dark bg-transparent">
                            <div class="card-header Fw(b)">Peter Moa</div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: yellow;">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </h5>
                                <p class="card-text">MERCI de m’avoir permis de rencontrer mon âme sœur. Au bout de cinq minutes de conversation, celle qui est aujourd’hui ma femme me racontait déjà à quel point notre mariage serait merveilleux.</p>
                            </div>
                        </div>
                        <div class="card text-dark bg-transparent">
                            <div class="card-header Fw(b)">Candace Anderson</div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: yellow;">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </h5>
                                <p class="card-text">À tou•tes les célibataires, en particulier les introverti•es comme nous : n’ayez pas peur de sortir de votre zone de confort. C’est comme ça que vous pourrez établir un vrai lien. Singlefind nous a permis de nous rencontrer, et je ne les remercierai jamais assez pour ça. ❤</p>
                            </div>
                        </div>
                        <div class="card text-dark bg-transparent">
                            <div class="card-header Fw(b)">Léana Polcha</div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: yellow;">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </h5>
                                <p class="card-text">Il m’a abordée avec l’une des PIRES techniques de drague que j’avais jamais vues. Mais comme je m’ennuyais au boulot, j’ai décidé de lui répondre. De là, on n’a jamais arrêté de discuter, on s’est donné rendez-vous et on est tombés fous amoureux l’un de l’autre.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer border-top">
        <div class="container">
            <span class="p-3 text-muted float-right">Singlefind &copy; 2022</span>
        </div>
    </footer>
</body>
</html>