<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/settings.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Paramètres</title>
</head>
<body>
    <form action="/dashboard">
        <button type="submit" class="go-back border-0 bg-transparent ml-3 p-1 C(p)"><i class="fa-solid fa-3x fa-arrow-left-long"></i></button>
    </form>
    <div class="profile-content d-flex flex-column align-items-center" style="max-width: 980px;margin: 30px auto 0 auto;">
        <div class="text-center avatar mb-2">
            <img class="rounded-circle" src="{{ user.profile_pic }}" width="150" height="150">
            <div class="name Fs(36) p-1" style="font-weight: 900;">{{ user.fname }} {{ user.lname }}</div>
        </div>
        <div class="profile-container">
            <div class="profile-card position-relative C(p)" data-toggle="modal" data-target="#Modal">
                <div class="content">
                    <div class="title">Mes informations</div>
                    <div class="subtitle Fs(16)">{{ user.fname }}</div>
                </div>
            </div>
            <div class="profile-card position-relative C(p)">
                <div class="content">
                    <div class="title">Localisation</div>
                    <div class="subtitle Fs(16)">{{ user.localisation }}</div>
                </div>
            </div>
            <div class="profile-card position-relative C(p)">
                <div class="content">
                    <div class="title">Sexe</div>
                    <div class="subtitle Fs(16)">{{ user.sexe }}</div>
                </div>
            </div>
            <div class="profile-card position-relative C(p)">
                <div class="content">
                    <div class="title">Orientation Sexuelle</div>
                    <div class="subtitle Fs(16)">{{ user.orientation }}</div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Informations du compte</h5>
                    </div>
                    <div class="py-3 modal-body d-flex flex-column border-0 align-items-center text-center">
                        <div class="row pb-2">
                            <div class="input-block p-2">
                                <label class="d-block Fs(16)">Prénom</label>
                                <input class="border-0 text-center Br(100)" type="text" value="{{ user.fname }}" disabled>
                            </div>
                            <div class="input-block p-2">
                                <label class="d-block Fs(16)">Nom</label>
                                <input class="border-0 text-center Br(100)" type="text" value="{{ user.lname }}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-block p-2">
                                <label class="d-block Fs(16)">Adresse e-mail</label>
                                <input class="border-0 text-center Br(100)" type="text" value="{{ user.email }}" disabled>
                            </div>
                            <div class="input-block p-2">
                                <label class="d-block Fs(16)">Age</label>
                                <input class="border-0 text-center Br(100)" type="text" value="{{ user.age }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-around">
            <form action="/deconnexion">
                <button class="btn btn-outline-warning">Déconnexion</button>
            </form>
            <div class="profile-card text-center ml-5 C(p)" style="width: 30%;">
                <div class="content">
                    <div class="title">Centres d'intérêt</div>
                    <div class="subtitle Fs(16)">{{ user.hobbies }}</div>
                </div>
            </div>
            <form action="/delete">
                <button class="btn btn-outline-danger">Supprimer mon compte</button>
            </form>
        </div>
    </div>
</body>
</html>