.wrapper {
  width: 100% !important;
  max-width: 35rem !important;
}

.iconSelect {
  width: 100% !important;
}

.iconSelect .custom-control-label {
  background-color: #eee !important;
  width: 100% !important;
  border-radius: 0.2rem !important;
  padding: 1rem 1rem 2.5rem !important;
  font-size: 1.4rem !important;
  transition: background-color 0.1s linear, color 0.1s linear !important;
}

.iconSelect .custom-control-label::before, .iconSelect .custom-control-label::after {
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 1rem !important;
  margin: auto !important;
}

.iconSelect .custom-control-input:checked ~ .custom-control-label {
  background: #0938e3 !important;
  color: #fff !important;
}