.location {
    width: 100%;
    padding: 0.5rem;
    transition: box-shadow .3s ease-out;
    border-width: 0;
    border-radius: 0.5rem;
    outline: 0;
    box-shadow: 0 0 0 2px transparent;
    color: #1f2f49;
    font-size: 1rem;
    font-weight: 600;
}

.location:focus {
    border: 2px solid blue;
}

.background {
	position: absolute;
	z-index: -1000;
}

.autocom-box li {
    list-style: none;
    width: 100%;
}

.active .autocom-box {
    opacity: 1 !important;
    display: block !important;
}

.autocom-box li:hover {
    background: grey;
    cursor: pointer;
}