.navbar-item {
    padding: 14px 16px;
    font-size: 20px;
    font-weight: Bold;
}

.navbar-item:hover {
    text-decoration: none;
}

.not-active:hover {
    background-color: blue !important;
}

.settings {
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid grey;
    border-radius: 60px;
    color: grey;
    cursor: pointer;
}

.settings:hover {
    transition: transform 1s;
    transform: rotate(180deg);
}