.bg-img {
position: absolute;
top: 0;
left: 0;
object-fit: cover;
width: 100%;
height: 100%;
}

.hero-section {
position: relative;
overflow: hidden;
padding-top: 100px;
height: calc(100vh - 51px);
}

.card {
display: block;
float: none;
margin: 0 auto;
width: 400px;
height: 286px;
margin: 15px;
}

.promotion-container {
display: flex;
flex-direction: row;
justify-content: flex-start;
justify-content: space-between;
margin: 0 auto;
padding: 30px;
}