.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    width: 100%;
    margin: 40px 0;
}

.content {
    position: relative;
    padding: 17px 30px;
    background: white;
    border-radius: 12px;
    border: solid 3px #f1f7ed;
    color: #505050;
    font-weight: 400;
    font-size: 20px;
}