.C\(p\) {
    cursor: pointer;
}
.Ov\(h\) {
    overflow: hidden;
}
.Ovy\(h\) {
    overflow-y: hidden;
}
.Ovy\(x\) {
    overflow-x: hidden;
}
.Expand {
    width: 100%;
    height: 100%;
}
.Mh\(100\%\) {
    min-height: 100%;
}
.H\(100\%\) {
    height: 100%;
}
.W\(100\%\) {
    width: 100%;
}
.M\(0\){
    margin: 0;
}
.M\(auto0\) {
    margin: auto 0
}
.M\(0auto\) {
    margin: 0 auto
}
.Fs\(12\) {
    font-size: 16px;
}
.Fs\(14\) {
    font-size: 14px;
}
.Fs\(16\) {
    font-size: 16px;
}
.Fs\(26\) {
    font-size: 26px;
}
.Fs\(36\) {
    font-size: 36px;
}
.Fs\(44\) {
    font-size: 44px;
}
.Fw\(600\) {
    font-weight: 600;
}
.Fw\(b\) {
    font-weight: bold;
}
.P\(0\) {
    padding: 0;
}
.Z\(-1\) {
    z-index: -1;
}
.Z\(0\) {
    z-index: 0;
}
.Z\(1\) {
    z-index: 1;
}
.Z\(2\) {
    z-index: 2;
}
.O\(n\) {
    outline: none;
}