<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/confirmation.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Singlefind Inscription</title>
</head>
<body class="bg-dark">
    <div class="form-container text-center align-items-center py-4 my-4">
        <div class="title Fs(36) Fw(b) mb-4">Confirmez votre inscription</div>
        <form autocomplete="off" action="#" class="form-signin w-75 m-auto p-4 text-success">
            <div class="wrapper justify-content-around d-flex M(0auto)">
                <div class="question-container flex-column d-flex border p-4" style="min-width: 400px;max-width: 400px;">
                    <span class="question Fs(26) mb-5" style="color: #ed147d;">Que recherchez-vous ?</span>
                    <button class="btn btn-success btn-block answer" style="border-radius: 2rem;">Je cherche un homme</button>
                    <button class="btn btn-success btn-block answer" style="border-radius: 2rem;">Je cherche une femme</button>
                </div>
                <div class="question-container flex-column d-flex border p-4" style="max-width: 500px; min-width: 500px">
                    <span class="question Fs(26) mb-5" style="color: #ed147d;">Dans quelle ville habitez-vous ?</span>
                    <input class="location border bg-dark" type="text" placeholder="Indiquez votre ville la plus proche">
                </div>
                <div class="question-container flex-column d-flex border p-4" style="max-width: 400px; min-width: 400px">
                    <span class="question Fs(26) mb-2" style="color: #ed147d;">Êtes-vous un homme ou une femme ?</span>
                    <button class="btn btn-success btn-block answer" style="border-radius: 2rem;">Je cherche un homme</button>
                    <button class="btn btn-success btn-block answer" style="border-radius: 2rem;">Je cherche une femme</button>
                </div>
            </div>
        </form>
    </div>
    <div style="width: 100%; height: 3px; bottom: 0;" class="progress position-absolute">
        <div class="progress-bar progress-bar-striped bg-info w-50" role="progressbar"></div>
    </div>
</body>
</html>